@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>As a user, you can add the games you bought into your account, and once you have games associated with your account you can add scores for them. go ahead!</p>
