@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>WebStats</h1>
    <p class="lead">Leading statistics website for all the games you never knew!</p>
    <p><a href="/scores" class="btn btn-primary btn-lg">See Latest Scores &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Players</h2>
        <p>
            Every user submits his own scores!
        </p>
        <p><a class="btn btn-default" href="/users">See Users &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Games</h2>
        <p>All the supported Games</p>
        <p><a class="btn btn-default" href="/games">See Games &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>Read another line of text about us now!</p>
        <p><a class="btn btn-default" href="/home/about">Register &raquo;</a></p>
    </div>
</div>